.accordion {
  position: relative;
}

.accordion__panel::before,
.accordion__panel::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  border: 1px solid rgba(248, 253, 255, 0.7);
}

.accordion__panel::before {
  top: -20px;
  bottom: auto;
}

.accordion__panel::after {
  top: auto;
  bottom: 0;

}

.accordion__button {
  @include vp-767 {
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background-color: #ccc;
    }

    &::after {
      content: "+";
      font-size: 13px;
      float: right;
      margin-left: 5px;
    }

    &--active {
      background-color: #ccc;

      ::after {
        content: "-";
      }
    }
  }
}

.accordion__panel {
  @include vp-767 {
    padding: 0 18px;
    background-color: red;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}
