.advantages {
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.advantages__container {
  display: flex;
  justify-content: center;

  @include vp-1023 {
    padding: 0 43px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 595px));
  gap: 32px;
  padding-left: 2px;

  list-style-type: none;

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    gap: 22px;
  }
}

.advantages__list li {
  position: relative;
  border: 1px solid $color-whisper;
  padding: 40px 45px 35px 45px;
  transition: background-color 0.5s ease, color 0.5s ease;

  &::before {
    position: absolute;
    top: 0;
    left: -1px;
    content: "";
    width: 5px;
    height: 100%;
    background-color: $color-deepsky-blue;
  }

  &:hover {
    background-color: $color-deepsky-blue;
    border: 1px solid $color-deepsky-blue;
  }

  @include vp-1023 {
    min-height: 365px;
  }

  @include vp-767 {
    padding: 30px 30px 35px 30px;
    min-height: 335px;
  }
}

.advantages__list svg {
  fill: $color-deepsky-blue;
  margin-bottom: 12px;
}

.advantages__list li:hover svg {
  fill: $color-alice-blue;
}

.advantages__list h3 {
  @include font($ff-robotocondensed, 400, 24px, 33px, $color-deepsky-blue);
  margin: 0;
  margin-bottom: 15px;

  @include vp-1023 {
    margin-bottom: 6px;
  }

  @include vp-767 {
    @include font($ff-robotocondensed, 400, 20px, 28px, $color-deepsky-blue);
  }
}

.advantages__list p {
  @include font($ff-ptmono, 400, 16px, 22px, $color-black-pearl);
  min-height: 120px;
  margin: 0;

  @include vp-767 {
    @include font($ff-ptmono, 400, 14px, 19px, $color-black-pearl);
  }
}

.advantages__list li:hover h3,
.advantages__list li:hover p {
  color: $color-alice-blue;
}
