.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages__container {
  display: flex;
  justify-content: center;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 595px);
  grid-template-rows: 1fr 1fr;
  gap: 32px;

  list-style-type: none;
}

.advantages__item {
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deepsky-blue;
  padding: 40px 45px 35px 45px;
}

.advantages__item svg {
  fill: $color-deepsky-blue;
}

.advantages__heading {
  @include font($ff-robotocondensed, 400, 24px, 33px, $color-deepsky-blue);

}

.advantages__description {
  @include font($ff-ptmono, 400, 16px, 22px, $color-black-pearl);
}