.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &--skeleton {
    @include font($ff-robotocondensed, 700, 14px, 16px, $color-alice-blue);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: none;
    border: 1px solid $color-alice-blue;
    border-radius: 3px;
    padding: 10px 15px;
  }

  &--skeleton-deepsky {
    @include font($ff-robotocondensed, 700, 14px, 16px, $color-deepsky-blue);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: none;
    border: 1px solid $color-deepsky-blue;
    border-radius: 3px;
    padding: 15px 25px;
  }

  &--cover {
    @include font($ff-robotocondensed, 700, 18px, 21px, $color-alice-blue);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-color: $color-deepsky-blue;
    border: none;
    border-radius: 3px;
    padding: 15px 25px;

    @include vp-767 {
      @include font($ff-robotocondensed, 700, 14px, 16px, $color-alice-blue);
    }
  }

  &--feedback {
    @include font($ff-robotocondensed, 700, 16px, 19px, $color-default-white);
    letter-spacing: 0.05em;
    text-transform: uppercases;
    text-align: center;
    padding: 15px 25px;
    background-color: $color-black-pearl;
  }
}
