.company {
  padding-top: 1px;
  padding-bottom: 100px;
}

.company__container {
  display: grid;
  grid-template-columns: min-content minmax(min-content, 970px);
  grid-template-rows: min-content;
  column-gap: 85px;
  justify-content: center;
  justify-items: start;

  @include vp-1023 {
    column-gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 0;
  }
}

.company h2 {
  @include font($ff-robotocondensed, 400, 36px, 50px, $color-black-pearl);
  grid-column: 2 / 2;
  order: 2;
  margin: 0;
  margin-bottom: 12px;

  @include vp-767 {
    @include font($ff-robotocondensed, 400, 28px, 40px, $color-black-pearl);
  }
}

.company p {
  @include font($ff-ptmono, 400, 16px, 22px, $color-black-pearl);
  grid-column: 2 / 2;
  order: 2;
  margin: 0;
  margin-bottom: 20px;

  @include vp-767 {
    @include font($ff-ptmono, 400, 14px, 19px, $color-black-pearl);
  }
}

.company__description--hidden {
  display: none;
}

.company__btn {
  grid-column: 2 / 2;
  order: 2;

  min-width: 180px;
  justify-content: center;

  margin-top: 20px;
}

.company picture {
  justify-self: right;
  grid-row: 1 / span 5;
  order: 1;

  @include vp-767 {
    display: none;
  }
}

.company img {
  min-width: 150px;
}

.company__container h2,
.company__container p,
.company__btn {
  margin-left: 15px;
}
