.feedback {
  background-color: $color-deepsky-blue;
  background-image: url("../img/svg/triangle.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto 100%;
  min-height: 840px;
  padding-top: 170px;
  padding-bottom: 250px;

  @include vp-1023 {
    min-height: auto;
    background-image: none;
    padding-top: 50px;
    padding-bottom: 125px;
  }

  @include vp-767 {
    padding-bottom: 90px;
  }
}

.feedback__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 120px;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    max-width: 670px;
    flex-shrink: 1;
  }
}

.feedback__title {
  @include font($ff-robotocondensed, 400, 36px, 51px, $color-default-white);
  order: 2;
  grid-column: 2;
  margin: 0;
  margin-bottom: 15px;

  @include vp-767 {
    @include font($ff-robotocondensed, 400, 30px, 42px, $color-default-white);
  }
}

.feedback__subtitle {
  @include font($ff-ptmono, 400, 16px, 22px, $color-default-white);
  order: 2;
  grid-column: 2;
  margin: 0;
  margin-bottom: 35px;

  @include vp-767 {
    @include font($ff-ptmono, 400, 14px, 19px, $color-default-white);
  }
}

.feedback__form {
  display: grid;
  max-width: 585px;
  grid-template-columns: repeat(2, 275px);
  align-items: start;
  column-gap: 30px;
  row-gap: 20px;
  order: 2;
  grid-column: 2;

  @include vp-1023 {
    max-width: none;
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.feedback textarea {
  grid-column: 2 span;
  min-height: 155px;

  @include vp-767 {
    min-height: 180px;
  }
}

.feedback__picture {
  display: flex;
  justify-content: flex-end;
  grid-column: 1;
  grid-row: 2 / 5;
  order: 1;

  @include vp-1023 {
    display: none;
  }
}
