.header {
  min-height: 120px;
  background: $black-to-bottom;
  display: flex;
}

.header__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo {}

.header__logo-img {}

.header__logo-text {}

.header__logo-name {
  @include font($ff-roboto, 700, 25px, 29px, $color-alice-blue);
  margin: 0;
}

.header__logo-slogan {
  margin: 0;
  @include font($ff-roboto, 500, 12px, 14px, $color-transparent-white);
}

.header__contacts {
  display: flex;
  min-width: 480px;
  flex-direction: row;
  justify-content: space-between;
}

.header__link {}

.header__link-email {
}

.header__link-text {
  @include font($ff-ptmono, 400, 16px, 18px, $color-alice-blue);
}

.header__link-phone {
}

.header__btn {
  @include font($ff-robotocondensed, 700, 14px, 16px, $color-alice-blue);
  text-transform: uppercase;
}