.header {
  position: fixed;
  width: 100%;
  top: 0;
  min-height: 120px;
  background: $black-to-bottom;
  display: flex;
  z-index: 10;

  @include vp-1023 {
    position: absolute;
  }
}

.header__container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1300px;

  @include vp-1023 {
    max-width: none;
  }

  @include vp-767 {
    padding-left: 26px;
    padding-right: 45px;
  }
}

.header__logo {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.header__logo-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;

  @include vp-767 {
    display: none;
  }
}

.header__logo-name {
  @include font($ff-robotocondensed, 700, 25px, 29px, $color-alice-blue);
  margin: 0;
}

.header__logo-slogan {
  @include font($ff-roboto, 500, 12px, 14px, $color-transparent-white);
  margin: 0;
}

.header__contacts {
  display: flex;
  min-width: 480px;
  flex-direction: row;
  justify-content: space-between;

  @include vp-1023 {
    min-width: 80px;
    gap: 40px;
  }
}

.header__link {
  display: flex;
  gap: 15px;
}

.header__link-text {
  @include font($ff-ptmono, 400, 16px, 18px, $color-alice-blue);

  @include vp-1023 {
    display: none;
  }
}

.header__btn {
  @include vp-1023 {
    display: none;
  }
}
