.popup-question {
  background-color: $color-deepsky-blue;
}

.popup-question__title {
  @include font($ff-robotocondensed, 400, 30px, 42px, $color-default-white);
  margin: 0;
  margin-bottom: 15px;
}

.popup-question__subtitle {
  @include font($ff-ptmono, 400, 16px, 22px, $color-default-white);
  margin: 0;
  margin-bottom: 40px;
}

.popup-question__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.popup-question input {
  margin-bottom: 20px;
}

.popup-question textarea {
  min-height: 155px;
  margin-bottom: 25px;
}

.popup-question button {
  margin-bottom: 20px;
}
